*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: color #f8f8f8;;
    color:#333;
}

header{
   background-color: white;
   padding: 20px 0;
   box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
   position: sticky;
   top: 0;
   z-index: 100;
}

.nav-top{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.nav-top a{
    text-decoration: none;
    color: #333;
    font-weight: 30px;
    font-size: 14px;
    text-transform: uppercase;
}

.logo{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.nav-main{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.nav-main a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.sale-tag{
    color: red;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1400px;
    margin: 0 auto;

}

.product-card{
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
    transition:transform 03s ease;
    
}
.product-card:hover{
    transform: translateY(-5px);
}

.product-image{
height: 300px;
background-color: #f5f5f5;
position: relative;
overflow: hidden;
}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-info{
    padding: 15px;
}

.brand{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px ;
}

.product-name{
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.prices{
    display: flex;
    gap:10px;
    align-items: center;
}
.current-price {
font-weight: bold;
}

.original-price{
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
}
.discount {
    color: red;
    font-size: 14px;
}

/* Responsive adjustment */

@media(max-width: 786px){
    .nav-top, .nav-main{
        flex-wrap: wrap;
        gap: 15px;
    }

    .products-container{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 20px;
        gap: 20px;
    }
    
    .product-image{
        height: 250px;
    }
}

@media(max-width: 480px){
    .products-container{
        grid-template-columns:1fr 1fr;
        gap: 15px;
        padding: 15px;
    }

    .product-image{
        height: 180px;
    }
    
    .product-info{
        padding: 10px;
    }
}